@charset "utf-8";
/* CSS Document */
body{
	margin-left:1%;

	}
.admin{
	background-color:#fff;
	width:80%;
	text-align:center;
	margin:auto;
	margin-top: 60px;
	height:300px;
	padding-bottom:-10px;
	padding-bottom:-12px;
}
