#body{
	margin: auto;
	background-color:#9C3;
	width:80%;
	height:300px;
	
}
a{
	text-decoration:none;
}
 .logout{
	 float:right;
	 padding-top:-20px;
	 padding-right:-20px;
 }
.menu{
	height:500px;
	width:50%;	
	pa
}
