@charset "utf-8";
/* CSS Document */
.body{
	margin-left:1%;
	
}
.signup h3{
	background-color:#00FS;
}
.signup{
	background-color:#666;
	width:50%;
	text-align:center;
	margin:auto;
	margin-top: 60px;
}





